.conte {
	width: 200px;
	margin:  auto;
text-align: center;
background-image: url(https://sites.google.com/site/kanivbelo4ka/_/rsrc/1513238304518/config/customLogo.gif?revision=11);
font-weight: bolder;
}
h1 {
	text-align: center;
background-color: #74992e;
}
